ul {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    overflow: hidden;
    background-color: #4a4a47;
}
#img {
    padding-top: 5px;
    width: 60px;
    height:60px;
}

li {
    float: left;
}
li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
}
#navBar a:hover, #footer a:hover {
    color:black;
}
#sideBar {
   float:right;
   padding-right: 10px;

}
#homepic{
    background-color: #0091b4;
}
#navBar input[type = text] {
    padding: 4px;
    border: none;
    margin-top: 19px;
    margin-right: 1px;
    margin-left: 30px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
#search-icon {
    width: 15px;
    height: 15px;
}
.cart {
    padding-right: 1px;
}
#cart {
    margin-top: 20px;
    width: 25px;
    height: 25px;
}
#navBar button {
    padding-left: 0px;
    width: 25px;
    height:26px;
    border-radius: 2px;
    margin-top: 19px;
    
}
#homeimg {
    width: 100%;
    height: 500px;

}
#testimonials {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    font-style: italic;
    text-align: center;
    background-color: #848483;
    width: 100%;
}
#testimonials img {
    width: 60%;
    height: 50%;
}
#testimonials p {
    padding-left: 20px;
    padding-right: 20px;
}
#mission {
    text-align: center;
    background-color:#0091b4;
}

#mission p {
    margin-left: 400px;
    margin-right: 400px;
    font-size: large;
    line-height: 170%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-style: italic;
}
#mission h2 {
    animation: mymove 5s infinite;
    animation-timing-function: ease-in;
}

#footer li a {
    font-size: 13px;
    padding-left: 10px;
    padding-top: 20px;
}
.fa {
    padding: 10px;
    margin-top: 10px;
    font-size: 5px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    background-size: 5px;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
body {
    background-color:#0091b4;
}
table {
    font-family: 'Taviraj', Georgia, 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #030303;
    text-align: left;
    padding: 8px;
    overflow:scroll;
  }
  th {
    text-align: center;
    font-family: 'Rowdies', 'Taviraj', Georgia, 'Times New Roman';
  }
  
  #table h2, #form h2, #learn h2 {
    font-size: 100px;
    font-weight: bold;
    color: #121212;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 2px 7px 5px 
    
  }
  table button {
    border-radius: 12px;
    background-color: yellow;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .form {
      display:flex;
      justify-content: center;
  }
  .form input[type = text] {
    padding-right: 60px;
    margin-right: 10px;
  }

.heading {
  animation-name: slidein;
  /* time it takes for the animation to complete one lap */
  animation-duration: 1s; 
  animation-timing-function: ease-in;
  animation-delay: 0s;
  /* Number of time to run the animation */
  animation-iteration-count: 1;
  animation-direction: noraml;
  
  animation-fill-mode: none;


}
@keyframes slidein {
  from {
    transform:translate(-300px)
  }
  to {
    transform: translateX(0);
  }
}
#aboutpage {
  display: flex;
  text-align: center;
}
#aboutpage img {
  padding-top: 20px;
  width:300px;
  height:200px
}
#aboutpage p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    line-height: 170%;
    text-align: center;
    font-family: 'EB Garamond', Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-style: italic;
}