
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    overflow: hidden;
    background-color: #4a4a47;
}
#img {
    padding-top: 5px;
    width: 60px;
    height:60px;
}

li {
    float: left;
}
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
}
#navBar input[type = text] {
    padding: 3px;
    border: none;
    margin-top: 19px;
    margin-right: 16px;
    margin-left: 30px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
#search-icon {
    width: 15px;
    height: 15px;
}
#cart {
    margin-top: 10px;
    width: 30px;
    height: 40px;
}
#navBar button {
    border-radius: 2px;
    margin-top: 17px;
    
}
#homeimg {
    width: 100%;
    height: 500px;

}
#testimonials {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    font-style: italic;
    text-align: center;
    background-color: #848483;
}
#testimonials img {
    width: 60%;
    height: 50%;
    
}
#testimonials p {
    padding-left: 20px;
    padding-right: 20px;
}
#mission {
    text-align: center;
    background-color:#0091b4;
}

#mission p {
    margin-left: 400px;
    margin-right: 400px;
    font-size: large;
    line-height: 170%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-style: italic;
}
